#contact_modal {
  display: none;
}

main {
  max-width: 1400px;
  margin: auto;
}

.photograph-header {
  background-color: #fafafa;
  padding: 40px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.photograph-header h1{
  font-size: 50px;
  margin: 0;
}



.photograph-header-photo img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact_button:hover {
  background-color: #db8876;
  color: black;
}
.contact_button:focus {
  background-color: #db8876;
  color: black;
}

.photoFiltre {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  padding: 50px 20px;
}

.photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 20px;
  gap: 50px;
}
.media-El {
  overflow: hidden;
}
.media img {
  height: 350px;
  width: 350px;
  object-fit: cover;
  object-position: center center;
  transition: all 0.3s ease;
}
.media img:hover {
  transform: scale(1.1);
}
.media video {
  height: 350px;
  width: 350px;
  object-fit: cover;
  object-position: center center;
  transition: all 0.3s ease;
}
.media video:hover {
  transform: scale(1.1);
}
.media-desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #901c1c;
}

.media-desc .likes {
  display: flex;
  align-items: center;
}
.media-desc .likes i {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.media-desc .likes .fa-heart {
  transition: all 0.3s ease;
}
.media-desc .likes .fa-heart:hover {
  cursor: pointer;
}


.photograph-recap {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
  padding: 0px 20px;
  position: fixed;
  bottom: 0;
  right: 60px;
  z-index: 5;
  background-color: #db8876;
  border-radius: 5px 5px 0px 0px;
}
.photograph-recap p {
  font-size: 18px;
  font-weight: 600;
}
.photograph-recap I {
  font-size: 18px;
  font-weight: 600;
  pointer-events: none;
}
.photograph-recap h3 {
  font-size: 18px;
  font-weight: 600;
}
.heart {
  cursor: pointer;
}

/* Popup when img is clicked */

.media-window {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.media-window .fa-times {
  position: fixed;
  top: 10px;
  right: 50px;
}
.media-window .fa-times:hover {
  color: #db8876;
}
.media-window img {
  max-width: 80vw;
  max-height: 80vh;
  padding: 0px 30px 0px 30px;
}
.media-window video {
  max-width: 80vw;
  max-height: 80vh;
  padding: 0px 30px 0px 30px;
}
.media-window i {
  color: #901c1c;
  font-size: 45px;
}
.media-window .media-btn-next {
  z-index: 500;
  display: block;
  cursor: pointer;
  position: fixed;
  right: 10px;
  top: 48vh;
}
.fa-chevron-right:hover {
  color: #db8876;
}
.media-window .media-btn-prev {
  z-index: 500;
  display: block;
  cursor: pointer;
  position: fixed;
  left: 10px;
  top: 48vh;
}
.fa-chevron-left:hover {
  color: #db8876;
}
.photograph-recap-totalLikes {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
}

#contact_modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  display: flex;
  flex-direction: column;
  padding: 35px;
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

.modal .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding: 0px;
}

.modal .header i {
  color: white;
  font-size: 50px;
  cursor: pointer;
  top: 10px;
  right: 0;
}

.modal .header h2 {
  font-size: 50px;
  font-weight: normal;
  text-align: start;
  margin: 0px;
  padding: 20px 0px;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0px;
}

form label {
  color: #312e2e;
  font-size: 25px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

/* DROPDOWN */
.select-box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 160px;
  -webkit-box-shadow: 0px 5px 17px -4px rgba(0, 0, 0, 0.65);
  box-shadow: 0px 5px 17px -4px rgba(0, 0, 0, 0.65);
}
.option-container {
  top: 50px;
  position: absolute;
  display: block;
  background-color: #901c1c;
  width: 100%;
  overflow: hidden;
  color: rgb(56, 52, 52);
  opacity: 0;
  z-index: 3;
  min-height: 0px;
  transition: opacity 0.4s ease-in-out, padding-bottom 0.2s ease-in-out,
    box-shadow 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out;
  pointer-events: none;
  border-radius: 0px 0px 5px 5px;
}
.selected {
  padding-top: 12px;
  padding-left: 14px;
  padding-right: 14px;
  cursor: pointer;
}
.select-box .selected .radio {
  display: none;
}
.select-box .option .radio {
  display: none;
}
.selected {
  background-color: #901c1c;
  border-radius: 5px;
  color: black;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
}
.selected p {
  pointer-events: none;
  color: white;
  margin: 0;
}
.selected img {
  transition: all 0.7s ease-out;
  height: 30px;
  pointer-events: none;
}
.select-box .option:hover {
  color: #27d8d4;
}
.option label {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  padding-top: 12px;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 12px;
  transition-duration: 0.4s ease-in;
  position: relative;
  color: white;
}
.separateur-radio {
  height: 2px;
  margin-left: 14px;
  margin-right: 14px;
  background-color: #f4f4f4;
}

/* Pour le JS */
.active {
  opacity: 1;
  overflow-y: hidden;
  min-height: 100%;
  pointer-events: all;
  -webkit-box-shadow: 0px 50px 17px 0px rgba(0, 0, 0, 0.65);
  box-shadow: 0px 15px 17px -4px rgba(0, 0, 0, 0.65);
}
.activeChevron {
  transform: rotateZ(-180deg);
}

/* Pour le label de titre */
.removeTitle {
  display: none;
}

@media only screen and (max-width: 850px) {
  .modal {
    width: auto;
    height: 100%;
    margin: 0;
  }

  .modal input {
    width: auto;
  }
  .photograph-header {
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
  }
  .photograph-header-name {
    order: 3;
    align-items: center;
    text-align: center;
  }
  .photograph-header-photo {
    order: 1;
  }
  .contact_button {
    order: 3;
  }
}
